{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="bg-dark text-secondary px-4 py-5 text-center mt-5">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">simpleCRM</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Welcome to simpleCRM. Let us manage your hard tasks daily.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if request.user.is_authenticated %}
        <h1 class="text-white">Hello {{ request.user.username }}</h1>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</a>
        <a href="{% url 'register' %}" class="btn btn-outline-light btn-lg px-4">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}