{% extends 'base.html' %}
{% load static %}
{% block title %}Leads{% endblock title %}
{% block content %}
<div class="container mt-3">
  <h2 class="text-center">Leads:</h2>
</div>
{% for lead in leads %}
<div class="container shadow mt-3 p-2 rounded">
  <div class="card mt-1">
    <div class="card-header pt-4">
      <p>{{ lead }}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ lead }}</h5>
      <a href="{% url 'leads:lead-detail' lead.pk %}" class="btn btn-info mt-3">Details</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}